// margin variables
$m0: 0;
$m20: 20px;

// padding variables
$p0: 0;
$p05: 5px;
$p10: 10px;
$p20: 20px;

$p10: 10px;
$pr20: 20px;

$pl20: 20px;
$pl50: 20px;

// background color variables
$bg-primary: rgb(105, 71, 85);
$bg-secondary: rgb(145, 144, 144);

// text color variables
$text-white: rgb(240, 240, 240);

// font size variables
$text-xs: 10px;
$text-sm: 12px;
$text-md: 20px;
$text-lg: 40px;
$text-xl: 80px;

// font properties variables
$font-light: lighter;
$font-300: 300;
$font-500: 500;
$font-600: 600;

// letter spacing variables
$letter-spacing-1: 1px;
$letter-spacing-2: 2px;
$letter-spacing-5: 5px;

// font family variables
$font-poppins: 'Poppins';
$font-slabo: 'Slabo 27px', serif;
